<li><%= link_to new_nhanvien_path, :data => {remote: true} do %>Thêm mới<% end %></li>
<li><a href="#">Danh sách hết hợp đồng <span class="badge">20</span></a></li>
<li><a href="#">Danh sách thử việc <span class="badge">20</span></a></li>

