<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Danh mục hành chính <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="<%= categories_dmquoctiches_path %>">Quốc gia</a></li>
    <li><a href="<%= categories_vungbvs_path %>">Vùng địa lý</a></li>
    <li><a href="#">Tỉnh/Thành phố</a></li>
    <li><a href="#">Quận/Huyện</a></li>
    <li><a href="#">Phường/Xã</a></li>
    <li class="divider"></li>
    <li><a href="#">Dân tộc</a></li>
    <li><a href="#">Tôn giáo</a></li>
    <li class="divider"></li>
    <li><a href="#">Tình trạng hôn nhân</a></li>
    <li><a href="#">Quan hệ gia đình</a></li>
    <li><a href="#">Thành phần gia đình</a></li>
    <li><a href="#">Thành phần bản thân</a></li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Danh mục học vấn <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Trình độ học vấn</a></li>
    <li><a href="#">Trình độ đào tạo</a></li>
    <li><a href="#">Nhóm nghề nghiệp</a></li>
    <li><a href="#">Nghề nghiệp</a></li>
    <li class="divider"></li>
    <li><a href="#">One more separated link</a></li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Danh mục cơ quan <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Bệnh viện</a></li>
    <li><a href="#">Nhóm khoa/phòng</a></li>
    <li><a href="#">Khoa/phòng/ban</a></li>
    <li class="divider"></li>
    <li><a href="#">Nhóm chức danh</a></li>
    <li><a href="#">Chức danh</a></li>
    <li class="divider"></li>
    <li><a href="#">One more separated link</a></li>
  </ul>
</li>