// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home img{
  width: 100%;
  border-left: solid 2px #C4D4EA;
  border-right: solid 2px #C4D4EA;
  border-top: solid 2px #C4D4EA;
}
