<div id="logo">
  <img src="/assets/logo.png">
  <h2 class="tagline" style="line-height:15px;">
    <span id="lbBenhvien" class="taglineEm" style="color:#FFFF00;font-weight:bold;font-size:13pt;" title=" ">TÊN BỆNH VIỆN</span>
    <br>
    <span id="lbHone" class="taglineEm">GIẢI PHÁP QUẢN LÝ Y TẾ TRỰC TUYẾN</span>
  </h2>
</div>
